body{
    background-color: rgb(161, 161, 253);
}

.middle-title{
    text-align: center;
}

.auth-background{
    width: 29.875em;
    height: 25.875em;
    padding-right: 4em;
}
    
@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}